@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Montserrat:wght@500&family=Pacifico&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=les_serviceso:400i|Rubik:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
.body {
  width: 100%;
  height: 400vh;
  overflow-x: hidden;
}
.body.active {
  filter: blur(20px);
  pointer-events: none;
}
/*nav bar*/

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  z-index: 2;
}
.logo {
  width: 150px;
}
.nav_bar {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
}
.pc_nav {
  margin: 1%;
  margin-right: 8%;
  display: flex;
  transition: 0.5s;
  list-style: none;
}
.toggle a {
  display: flex;
}
.pc_nav li {
  display: inline-block;
  margin: 0 1.6%;
  position: relative;

  transition: 1s;
}

.nav_bar a {
  color: rgba(64, 101, 143, 0.952);

  text-transform: uppercase;

  text-decoration: none;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  color: white;

  transition: 1s;
}

.nav_bar li::after {
  content: "";
  height: 4%;
  width: 0%;
  position: absolute;
  background: rgb(54, 98, 142);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.8s;
}

.nav_bar li:hover::after {
  width: 100%;
}
.nav_bar li:hover a {
  color: rgb(54, 98, 142);
}
.label {
  display: none;
}

/*Stying for small screens*/

@media screen and (max-width: 1000px) {
  nav {
    height: 4.5rem;

    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
  }
  .pc_nav {
    display: none;
  }
  .label {
    display: block;
  }

 

  label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 5;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 rgb(104, 145, 185);
    cursor: pointer;
  }
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 4px;
    background: #ffffff;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
  }
  label .hamburger:after,
  label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
  label .hamburger:before {
    top: -10px;
  }
  label .hamburger:after {
    bottom: -10px;
  }
  label input {
    display: none;
  }
  label input:checked + .menu {
    background-color: rgb(104, 145, 185);
    box-shadow: -60vh -30vh 0px 500px rgb(104, 145, 185);
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    transform: rotate(45deg);
  }
  label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
  }
  .visible {
    opacity: 1;
  }
  label input:checked + .menu {
    opacity: 1;
  }
  label ul {
    list-style: none;
    margin-top: 7rem;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    opacity: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
  }
  label li {
    position: relative;
  }
  label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
  .nav_bar li::after {
    bottom: 16px;
  }
  .nav_bar a {
    font-weight: bold;
  }
}

.activate {
  color: #000;
}
.items {
  gap: 0.7rem;
  display: flex;
  flex-direction: row;
  transform: scaleX(0);
  width: 0;
  transform-origin: left;
  transition: 0.5s;
}

.tot {
  width: 100%;
  height: 300vh;
  background-image: linear-gradient(
    -45deg,
    #536cde 0%,
    #556aae 13%,
    #5063b7 25%,
    #6b85cc 62%,
    #567ed4 75%,
    #566dd3 87%,
    #5d71e4 100%
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
/*intersaction*/
.hidden {
  opacity: 0;

  transform: translateX(-50%);
  transition: all 1s;
}
.shox {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}
/*a propos*/
.loaded {
  transition: 1s;
}
.activation::after {
  width: 1005;
}
#popup {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 50px;
  background-color: white;
  opacity: 0;

  visibility: hidden;
}
#popup a {
  display: inline-block;
  position: relative;
  background-color: black;
  color: white;
  padding: 2%;
  margin-top: 3%;
  text-decoration: none;
}
#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
}
#refer {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 50px;
  background-color: white;

  visibility: hidden;
  opacity: 0;
}
#refer a {
  display: inline-block;
  position: relative;
  background-color: black;
  color: white;
  padding: 2%;
  margin-top: 3%;
  text-decoration: none;
}
#refer.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
}
/* Logo Slider */

.logo-slider {
  background: white;
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  margin: auto;
  margin-bottom: 1%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo-slider::before,
.logo-slider::after {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(white),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 175px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite;
  animation: logo-scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
  height: 150px;
  width: 250px;
  padding: 20px;
}
.slide img {
  height: 150px;
  width: 300px;
  padding: 35px;
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 10));
    transform: translateX(calc(-250px * 10));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 10));
    transform: translateX(calc(-250px * 10));
  }
}
@media (max-width: 750px) {
  #refer {
    width: 95%;
    padding-left: 1rem;
  }
  #refer p {
    font-weight: bold;
  }
  .logo-slider {
    margin-bottom: 2rem;
  }
}
/*first page*/

.accueil {
  width: 100%;
  height: 100vh;
  background-image: url(pictures/bakcground.png);
  background-position: center;
  background-size: cover;
  
}

.filter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  border: 0px solid;

  border-radius: 25px;
  width: 80%;
  height: 70%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1b417a;
  font-family: "Popping", sans-serif;
}
.main h1 {
  color: #ffffff;
  font-size: 4.5em;
  margin-bottom: 3%;
  margin-right: 0.7%;
}
.main h1 span {
  font-size: 0.4em;
}
.main p {
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.deco-buttons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main button {
  color: #ffffff;
  border: 2px solid;
  font-size: 21px;
  font-family: "Roboto";
  font-weight: bold;
  margin: 2.5%;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.4s;
}
.main button:hover {
  letter-spacing: 0.07em;
  color: #3d67a7;
}
.main button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(235, 235, 235);
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}
.main button:hover:before {
  transform: scaleX(1);
}
.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.titlecon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.2rem;
}
.titlecon::after,
.titlecon::before {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
}

.iconsmain {
  padding: 2%;
  position: relative;
  display: flex;
  gap: 1rem;
}
.incons {
  background-color: white;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  font-size: 1.2em;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.5s;
}
.incons:hover {
  width: 250px;
}
.incons::before {
  content: "";
  position: absolute;
  border-radius: 60px;
  inset: 0;
  background-color: #396ab3;
  opacity: 0;
  transition: 0.5s;
}
.incons:hover::before {
  opacity: 1;
}
.incons:hover i {
  transform: scale(0);
}
.incons span {
  position: absolute;

  transform: scale(0);
  transition: 0.5s;
}
.incons a {
  color: white;
}
.incons:hover span {
  transform: scale(1);
}

@media (max-width: 700px) {
  .accueil {
   
    background-image: none;
    
    
  }
  .main {
    width: 70vh;
    font-size: 94%;
  }
  .main button {
    font-size: 1.3em;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
/*nos services section*/

.nos_services {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(55, 112, 165, 0.267),
      rgba(82, 147, 245, 0.541)
    ),
    url(pictures/bakcground\ servics.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.overall {
  width: 100%;
  max-width: 100vh;
  max-height: 70%;
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "les_serviceso", serif;
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
}

.tous_service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 250%;
  margin-top: 10%;
  height: 24vh;
  gap: 4rem;
}
.les_services {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 170%;

  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 2px rgba(255, 255, 255, 0.1), 0 4px 4px rgba(255, 255, 255, 0.1),
    0 8px 8px rgba(255, 255, 255, 0.1), 0 16px 16px rgba(255, 255, 255, 0.1);
}
@media (min-width: 701px) {
  .les_services {
    height: 200%;
  }
}

.les_services:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.les_services:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.182) 46.6%,
    hsla(0, 0%, 0%, 0.249) 53.1%,
    hsla(0, 0%, 0%, 0.32) 58.9%,
    hsla(0, 0%, 0%, 0.394) 64.3%,
    hsla(0, 0%, 0%, 0.468) 69.3%,
    hsla(0, 0%, 0%, 0.54) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.721) 88.7%,
    hsla(0, 0%, 0%, 0.762) 94.1%,
    hsla(0, 0%, 0%, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.les_services:nth-child(1):before {
  background-image: url(pictures/installation-courant-faible.jpeg);
}
.les_services:nth-child(2):before {
  background-image: url(pictures/Installation-courantfort.jpg);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.intro > * + * {
  margin-top: 1rem;
}

.intro h1 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
}

.intro p {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: rgb(91, 134, 214);
  background-color: rgb(255, 255, 255);
  border: none;
}
.btn:hover {
  background-color: #bdbdbd;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .les_services:after {
    transform: translateY(0);
  }
  .intro {
    transform: translateY(calc(100% - 4.5rem));
  }
  .intro > *:not(.intro h1) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .les_services:hover,
  .les_services:focus-within {
    align-items: center;
  }
  .les_services:hover:before,
  .les_services:focus-within:before {
    transform: translateY(-4%);
  }
  .les_services:hover:after,
  .les_services:focus-within:after {
    transform: translateY(-50%);
  }
  .les_services:hover .intro,
  .les_services:focus-within .intro {
    transform: translateY(0);
  }
  .les_services:hover .intro > *:not(.intro h1),
  .les_services:focus-within .intro > *:not(.intro h1) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .les_services:focus-within:before,
  .les_services:focus-within:after,
  .les_services:focus-within .intro,
  .les_services:focus-within .intro > *:not(.intro h1) {
    transition-duration: 0s;
  }
}
.titlee {
  text-align: center;
  font-family: "Robik", sans-serif;
  font-size: 2em;
  color: white;
  margin-bottom: 20%;
  width: 200%;
}
@media (max-width: 1000px) {
  .tous_service {
    flex-direction: column;
    height: 80vh;
    margin-top: 0;
    gap: 1rem;
  }
  .titlee {
    width: 150%;
    margin-bottom: 10px;
  }
  .les_services {
    height: 250%;
    width: 50%;
  }
}
@media (max-width: 700px) {
  .titlee {
    font-size: 1.7rem;
    margin-bottom: 7%;
    width: 190%;
  }
  .les_services {
    height: 200%;
    width: 60%;
  }
}

/*section produit*/
.nos_produits {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title_pro {
  font-size: 2.2em;
  font-family: "Robik", sans-serif;
  position: relative;
  font-weight: bold;
  color: #fff;
  margin-bottom: 4%;
  text-align: center;
  width: 70%;
}
.title_pro::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 20%;
  width: 60%;
  height: 3px;
  background-color: #ffffff;
}

.title_pro span {
  font-size: 0.6em;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  z-index: 2;
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  transition: 0.7s ease-in-out;
}
.cardine {
  width: 100%;
  height: 100%;
  list-style: none;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}
.carousel .card.flip .cardine {
  transform: rotateY(-180deg);
}

.carousel .card.flip .front {
  pointer-events: none;
}
.wrapper i:first-child {
  left: 0px;
}
.wrapper i:last-child {
  right: 0px;
}
.carousel .card.flip .back {
  pointer-events: auto;
}
.disactive #left {
  color: #1b417a;
}
@media (max-width: 767px) {
  .carousel .card.flip .cardine {
    transform: rotateY(-180deg);
  }

  .carousel .card.flip .front {
    pointer-events: none;
  }
  .wrapper i:first-child {
    left: 0px;
  }
  .wrapper i:last-child {
    right: 0px;
  }
  .carousel .card.flip .back {
    pointer-events: auto;
  }
  .title_pro {
    font-size: 2.2em;
    width: 50vh;
    margin-bottom: 40px;
  }
  .title_pro span {
    font-size: 1.3rem;
  }
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;

  backface-visibility: hidden;
}
.front .img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.back .img img {
  width: 100%;
  height: 50%;
}
.back .img {
  display: flex;
  flex-direction: column;
}
.back {
  height: 80%;
  transform: rotateY(-180deg);
}

.carousel .card .img {
  background: #ffffff23;
  height: 100%;
  width: 100%;
}

.carousel .card h2 {
  color: white;
  font-weight: bold;
  font-size: 1.56rem;
  margin-top: 20px;
}

.carousel .card span {
  color: #afd4fc;
  font-size: 1.31rem;
  margin-top: 13px;
  position: relative;
  transition: 1s;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.carousel .card span:hover {
  color: #1b417a;
}
.carousel .card span:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #afd4fc; /* Assuming $color2 is a SCSS variable */
  transition: all 0.8s ease;
  transform: scale(0.7);
}
.card span i {
  top: 50%;
  right: 0; /* Adjusted from "left: 0;" to position on the right */
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  line-height: 0px;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  transform: translateY(0%) translateX(385%); /* Adjusted for positioning */
  z-index: 2;
  transition: transform 0.1s linear;
}

.carousel .card span:hover:after {
  transform: scale(1);
  background-color: #1b417a;
}
.holder2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
/*contact nous*/
.contact_nous {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(55, 112, 165, 0.267),
      rgba(82, 147, 245, 0.541)
    ),
    url("pictures/costumer.png");
  background-position: center;
  background-size: cover;
}
.content {
  text-align: center;
  color: white;
  margin-bottom: 4%;
  margin-top: -3%;
}
.content h1 {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 500;
  color: white;
}
.content p {
  font-weight: 300;
  color: white;
}
.contactinfo a {
  color: white;
}
.container_contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactinfo {
  margin: 1%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box {
  padding: 2%;
  position: relative;
  display: flex;
}
.icon {
  background: white;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2em;
}
.text_contact {
  display: flex;
  margin-left: 2%;
  font-size: 1.1em;
  color: white;
  flex-direction: column;
}
.text_contact h3 {
  font-weight: 500;
  color: #172c36;
}
.container_maps {
  margin-top: 2%;
  width: 40%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}
@media (max-width: 700px) {
  .container_contact {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
  }
  .container_maps {
    width: 90%;
    height: 30vh;
  }
  .contactinfo {
    margin-left: 0%;
  }
  .box {
    padding-left: 0%;
    width: 80vh;
  }
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 1.25em;
  color: white;
}
.footer ul li a {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}
.footer ul li a:hover {
  color: rgb(184, 184, 184);
}
